// Del returns a new {{.TypeName}} with the specified value set.
func (f {{.TypeName}}) Add(o {{.TypeName}}) {{.TypeName}} { return  {{.TypeName}}(uint64(f) | uint64(o)) }

// Del returns a new {{.TypeName}} with the specified value unset.
func (f {{.TypeName}}) Del(o {{.TypeName}}) {{.TypeName}} { return  {{.TypeName}}(uint64(f) &^ uint64(o)) }

// Has returns true if value has the specific value set.
func (f {{.TypeName}}) Has(o {{.TypeName}}) bool { return uint64(f)&uint64(o) > 0 }

// IsSingleFlag returns true if the value represents single flag value.
func (f {{.TypeName}}) IsSingleFlag() bool { return bits.OnesCount64(uint64(f)) == 1 }

func (f {{.TypeName}}) Format(s fmt.State, verb rune) {
	var nameMap map[{{.TypeName}}]string
	switch verb {
	case 's':
		nameMap = {{.SuffixMapName}}
{{- if .CgoEntries}}
	case 'c':
		nameMap = {{.CgoMapName}}
{{- end}}
	default:
		fmt.Fprintf(s, fmt.FormatString(s, verb), int64(f))
		return
	}
	var started bool
	for _, k := range slices.Sorted(maps.Keys(nameMap)) {
		if !f.Has(k) {
			continue
		}
		if started {
			fmt.Fprint(s, "|")
		}
		started = true
		fmt.Fprint(s, nameMap[k])
		if s.Flag('+') {
			fmt.Fprintf(s, "(%d)", int64(k))
		}
	}
}
